.heading{
    text-align: center;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.inputfield{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    
}
body{
    background-color: aquamarine;
}
#text{
    color: red;
    background-color: aqua;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
}
.pera{
    font-size: 18px;
    color: green;
    padding: 1px;
    text-align: left;
}
.bg{
    background-color: aqua;
    padding: 10px;
    margin: 20px;
}
.mydiv{
    width: 300px;
    /* height: 100vh; */
    padding: 20px;
    display: flex;
    background-color: gray;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hello{
    background-color: brown;
    margin: 20px;
    padding: 10px 15px;
}
.hello2{
    background-color: rgb(160, 160, 213);
    margin: 20px;
    padding: 10px 15px;
}

.myNewclass{
    padding: 20px;
    background-color: blue;
}
.post{
    width: 380px;
    text-align: center;
   
    margin: 10px;
    background-color: bisque;
}

.faq{
    display: flex;
    justify-content: space-between;
    margin:10px 20px;
}
.btn{
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: orangered;
    padding: 10px;
    border: 1px solid orangered !important;
}
.article{
    padding: 15px;
    width: 50%;
    background-color: rgba(97, 99, 101,0.5);
    margin: 20px auto;
    transition: 0.5s all;
    box-shadow:5px 5px 5px rgb(132, 132, 181) ;
}
.fetching{
    text-align: center;
    padding: 10px;
    
}